/* add padding to any rows (top and bottom) and a border line on the bottom of a row */
.row-content {
  padding: 20px 0 50px;
  border-bottom: 1px ridge;
  min-height: 200px;
}

/*adds padding to any row on the top*/
.row-top {
  padding-top: 25px;
}

/*Add color to the navbar*/
.navbar {
  background: #000000ea;
}

/*top nav where the Call Us and Se Habla Espanol.*/
.navbar-call-us {
  background-color: rgba(8, 8, 8, 0.705);
}

/*inner top nav where the Call Us and Se Habla esponol.*/
.nav-call-us {
  margin-right: auto;
  margin-left: auto;
}

/*Jumbotron CSS*/
.jumbotron {
  margin: 0;
  background: linear-gradient( #0b486b 50%, #f56217);
  color: #f56217; 
  padding: 4rem;
}

/*Makes the Blue on anchor href to be inherent, no longer making them blue*/
a, a:hover {
  color: inherit;
}

/*change the color of the phone font icon orange*/
.fa-phone {
  color: #f56217;
}

/*This is for Our Work Page to center all the content inside it*/
.gallery {
  margin-right: auto;
  margin-left: auto;
  width: 100rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}