.navbar {
  background: #000000ea;
}

/*top nav where the Call Us and Se Habla Espanol.*/
.navbar-call-us {
  background-color: rgba(8, 8, 8, 0.705);
}

/*inner top nav where the Call Us and Se Habla esponol.*/
.nav-call-us {
  margin-right: auto;
  margin-left: auto;
}

/*Jumbotron CSS*/
.jumbotron {
  margin: 0;
  background: linear-gradient( #0b486b 50%, #f56217);
  color: #f56217; 
  padding: 4rem;
}

a, a:hover {
  color: inherit;
}

/* add padding to any rows and border */
.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}